p.primary-text {
	font-family: 'Lato', serif;
  	font-size: 40px;
  	color:  grey;
}

p.secondary-text {
	font-family: 'Lato', serif;
  	font-size: 25px;
  	color:  grey;
}

.text-primary-orange {
	color: #f76707;
}

.grayscale-filter {
  filter: url(#grayscale);
}

.bg-cartoon-image {
  background-image: url(../images/sourav_cartoon.png);
  height: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -.125em; }

.fa-2x {
  font-size: 2em; }